<!-- I'm going to treat each quote-detail section as a card -->
<div class="card">
  <div class="card-body" ngFor="quote of quotes">
    <h4 class="card-title">{{quote.author}}</h4>
    <p class="card-text"> {{quote.quoteText}}</p>
    <button class='btn btn-sm btn-success' style='margin-left:0.1em;'>Upvotes: {{quote.upVote}}</button>
    <button class='btn btn-sm btn-danger' style='margin-left:1em'> Downvotes: {{quote.downVote}}</button>
    <button class='btn btn-sm btn-warning' style='margin-left:1em;'>Delete [with prompt]</button>
 </div>
</div>