<div class="container">

</div>
<div class="container-fluid">
  <hr>
  <h3 class="text-center">Create a new Quote</h3>
  <form>

    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" required class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="description">Quote</label>
      <textarea type="text" required id="description" cols="30" rows="10" class="form-control" quote="quote"></textarea>
    </div>

    <button type="submit" class="btn btn-sm btn-success" style="margin-top: 1em;">Add Quote</button>
    <hr>
  </form>
</div>